<!doctype html>
<html lang="en" dir="ltr">

<head>
        <title>PhD Administration</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/foundation-icons.css" />
        <link rel="stylesheet" href="css/machina.css">
</head>

<body>

<!-- liens-publics -->
<div class="row" id="liens-publics">
        <div class="large-12 medium-12 small-12 columns">
                <ul class="menu align-right">
                <li><a href="allo">Me connecter</a></li>
                <li><a href="abonnez-vous">M'abonner</a></li>
                <li><a href="bottin">Bottin</a></li>
                <li><a href="agenda">Agenda</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="apropos">À propos</a></li>
                <li><a href="accueil">Accueil</a></li>
                </ul>
        </div>
</div>

<!-- logo + chercher -->
<div class="row">
        <form>
        <div class="large-6 medium-6 small-6 columns">
                <a href="accueil"><img src="img/phdadmin_logo.png" alt="PhD Administration"></a>
        </div>
        <div class="large-1 medium-1 small-1 columns">&nbsp;</div>
        <div class="large-3 medium-3 small-3 columns"><br><input type="text" value=""></div>
        <div class="large-2 medium-2 small-2 columns">
                <br><a href="resultats" class="hollow button" title="Chercher parmi tous les articles ">Chercher</a>
        </div>
        </form>
</div>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">M'abonner</h3>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<!-- start form -->
<div class="row" id="authenticate">

  <div class="large-6 medium-6 small-6 columns">
    <div class="callout">
                <form>
                <label><strong>Nom de famille</strong> <input type="text" name="nomFamille"></label>
      <label><strong>Prénom</strong> <input type="text" name="prenom"></label>
      <label><strong>Courriel</strong> <input type="text" name="courriel"></label>
      <label><strong>Utilisateur</strong> <input type="text" name="username"></label>
      <label><strong>Mot-de-passe</strong> <input type="text" name="password"></label>
      <input class="button" type="submit" name="meAbonner" value="M'abonner">
                </form>
    </div>
  </div>

  <div class="large-6 medium-6 small-6 columns">
    <div class="callout">
                <br>
      <p class="text-left"><em>Nom de famille</em> et <em>Prénom</em> sont facultatifs.</p>
      <br>
      <p class="text-left"><em>Courriel</em> est obligatoire, mais ne sera pas diffusé.<br>C'est <em>Utilisateur</em> qui sera employé dans le site.</p>
      <br>
      <p class="text-left"><em>Mot-de-passe</em> est obligatoire.</p>
      <br>
      <p class="text-left">Obtenir certificat (c'est-à-dire une clef public-privée) pour ne pas remplir <em>Utilisateur</em> et <em>Mot-de-passe</em> lorsqu'on se connecte.</p>
      <br>
      <p class="text-left">Premier mois est gratuit.</p>
      <br>
      <p class="text-left">Réduire le coût mensuel en participant activement.<br>Comités de lecture.</p>
      <br>
    </div>
  </div>

</div>
<!-- end form -->

<!--    SCRIPTS -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
        $(document).foundation();
</script>

</body>
</html>