<!doctype html>
<html lang="en" dir="ltr">

<head>
        <title>PhD À-propos</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/foundation-icons.css" />
        <link rel="stylesheet" href="css/machina.css">
</head>

<body>

<!-- liens-publics -->
<div class="row" id="liens-publics">
        <div class="large-12 medium-12 small-12 columns">
                <ul class="menu align-right">
                <li><a href="bye">Me déconnecter</a></li>
                <li><a href="moi">Moi</a></li>
                <li><a href="bottin">Bottin</a></li>
                <li><a href="agenda">Agenda</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="apropos">À propos</a></li>
                <li><a href="accueil">Accueil</a></li>
                </ul>
        </div>
</div>

<!-- logo + chercher -->
<div class="row">
        <form>
        <div class="large-6 medium-6 small-6 columns">
                <a href="accueil"><img src="img/phdadmin_logo.png" alt="PhD Administration"></a>
        </div>
        <div class="large-1 medium-1 small-1 columns">&nbsp;</div>
        <div class="large-3 medium-3 small-3 columns"><br><input type="text" value=""></div>
        <div class="large-2 medium-2 small-2 columns">
                <br><a href="resultats" class="hollow button" title="Chercher parmi tous les articles ">Chercher</a>
        </div>
        </form>
</div>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">À propos</h3>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<div class="row" id="grid">

        <!-- LEFT -->

  <div class="large-3 medium-3 small-3 columns" id="grid-left">

        <!--    tabulations -->
        <ul class="tabs vertical" data-tabs id="apropos">
          <li class="tabs-title is-active"><a href="#categorie-1" aria-selected="true">À propos du site</a></li>
          <li class="tabs-title"><a href="#categorie-2"><span class="larger-text">À propos de nous</span></a></li>
          <li class="tabs-title"><a href="#categorie-3"><span class="larger-text">Notre politique</span></a></li>
          <li class="tabs-title"><a href="#categorie-4"><span class="larger-text">Votre participation</span></a></li>
          <li class="tabs-title"><a href="#categorie-5"><span class="larger-text">Comment publier avec nous</span></a></li>
          <li class="tabs-title"><a href="#categorie-6"><span class="larger-text">Contactez-nous</span></a></li>
        </ul>

  </div>

  <!-- RIGHT -->

  <div class="large-9 medium-9 small-9 columns" id="grid-right">
  <div>

        <div class="tabs-content" data-tabs-content="apropos">

          <div class="tabs-panel is-active" id="categorie-1">
                        <div class="">
                                <div><h4>À propos du site</h4></div>
                                <p class="text-justify">PhDadministration.net est un agrégateur de contenus destiné avant tout aux étudiants de doctorat, aux doctorants, aux thésards et aux personnels académiques en administration et en sciences sociales. Nos algorithmes cueillent en temps réel les nouvelles parutions des revues, des instituts, des bibliothèques, des universités, des groupes, centres de recherche ainsi que des blogues, des congrès, conférences, séminaires et colloques, etc.</p>
                                <p class="text-justify">Nous diffusons également les articles des contributeurs du site et espérons voir des communautés d’intérêt se développer autour des 3500 sujets et plus de nos taxonomies. Les contributeurs sont invités à nous signaler les problématiques, théories et sujets importants à leurs yeux et à évaluer le travail de leurs pairs au moyen des fonctionnalités du site.</p>
                                <p class="text-justify">Ce site est fabriqué par d’authentiques thésards qui ont mis de côté leur travail doctoral pour répondre à un besoin criant en gestion de la connaissance et faciliter ainsi leur propres recherches et par conséquent celles de tous les étudiants. Il est disponible en français, en anglais, en espagnol, en italien et en arabe. Nous travaillons sur une version russe, avec des diplômés ou des impétrants russes...</p>
                                <p class="text-justify">Pour plus d'information au sujet du site et comment y publier, veuillez communiquer avec nous à <a title="courriel" href="mailto:alain_farmer@yahoo.com">info@phdadministration.net</a> <a class="icon" title="courriel" href="mailto:alain_farmer@yahoo.com"><i class="fi-mail"></a></i></p>
                                <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                        </div>
          </div>

          <div class="tabs-panel" id="categorie-2">
                        <div class="">
                                <div><h4>À propos de nous</h4></div>
                                <div class="content">
                                <p>Machina Mundi est une entreprise qui ...</p>
                                <dl>
                                <dt>Mission</dt>
                                <dd><p>La mission de Machina Mundi est ...</p></dd>
                                <dt>Vision</dt>
                                <dd><p>La vision de Machina Mundi est ...</p></dd>
                                <dt>Valeurs</dt>
                                <dd><p>Les valeurs de Machina Mundi sont ...</p></dd>
                                <dt>Objectifs</dt>
                                <dd><p>Les objectifs de Machina Mundi sont ...</p></dd>
                                </dl>
                                </div>
                        <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                        </div>
          </div>

          <div class="tabs-panel" id="categorie-3">
                        <div class="">
                                <div><h4>Notre politique</h4></div>
                                <div class="content">
                                <p>Voici la politique de Machina Mundi quant à ...</p>
                                <dl>
                                <dt>Informations cueillies (contenus)</dt>
                                <dd><p>Voici notre politique quant à la cueillette et l'exploitation de nos contenus ...</p></dd>
                                <dt>Probité</dt>
                                <dd><p>Nous citons toujours notre source ...<br>Nous ne tolérerons pas comportements abusifs ...</p></dd>
                                <dt>Piraterie</dt>
                                <dd><p>Respect des lois et des droits d'auteur ...</p></dd>
                                <dt>Informations concernant les utilisateurs</dt>
                                <dd><p>Voici notre politique quant à l'exploitation des informations<br>que nous recueillons en observant et en analysant le comportement des utilisateurs.</p></dd>
                                <dt>Vie privée</dt>
                                <dd><p>Respect de la confidentialité, non-divulgation à qui que ce soit, effacement ...</p></dd>
                                </dl>
                                </div>
                        <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                        </div>
          </div>

          <div class="tabs-panel" id="categorie-4">
                        <div class="">
                                <div><h4>Votre participation</h4></div>
                                <div class="content">
                                <p>Votre participation est une dimension fondamentale de la connaissance ...</p>
                                <dl>
                                <dt>Pourquoi participer</dt>
                                <dd><p>Voici pourquoi participer ...</p></dd>
                                <dt>Comment commencer</dt>
                                <dd><p>Voici comment commencer à participer ... D'abord s'inscrire et s'informer.</p></dd>
                                <dt>Comment participer</dt>
                                <dd>
                                        <ul>
                                        <li>Fréquentez le site.</li>
                                        <li>Commentez un article.</li>
                                        <li>Évaluez un article.</li>
                                        <li>Classez un article.</li>
                                        <li>Publiez avec nous.</li>
                                        <li>Invitez vos collègues à s'abonner.</li>
                                        </ul>
                                </dd>
                                </dl>
                                </div>
                        <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                        </div>
          </div>

          <div class="tabs-panel" id="categorie-5">
                        <div class="">
                                <div><h4>Comment publier avec nous</h4></div>
                                <div class="content">
                                <p>Voici comment publier avec nous ...</p>
                                <dl>
                                        <dt>Critères d'admissibilité</dt>
                                        <dd><p>Voici les critères d'admissibilité ...</p></dd>
                                        <dt>Formation</dt>
                                        <dd><p>Vous former à la pratique d'écrire journalistiquement ...</p></dd>
                                        <dt>Démarche</dt>
                                        <dd><p>Voici la démarche ...</p></dd>
                                        <dt>Évaluation</dt>
                                        <dd><p>Critères d'évaluation ...</p></dd>
                                        <dt>Pour plus d'information</dt>
                                        <dd><p class="text-justify">Pour plus d'information au sujet de comment publier avec nous,<br>veuillez communiquer avec nous à <a title="courriel" href="mailto:info@phdadministration.net">info@phdadministration.net</a> <a class="icon" title="courriel" href="mailto:alain_farmer@yahoo.com"><i class="fi-mail"></a></i></p></dd>
                                </dl>
                                </div>
                        <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                        </div>
          </div>

          <div class="tabs-panel" id="categorie-6">
                <div class="">
                        <div><h4>Contactez-nous</h4></div>
                        <div class="content">
                                <dl>
                                <dt>Nom</dt>
                                <dd><p>Machina Mundi Multimédia Inc.</p></dd>
                                <dt>Courriel</dt>
                                <dd>
                                        <p>
                                        Information: <a href="mailto:info@phdadministration.net">info@phdadministration.net</a></br>
                                        Support technique: <a href="mailto:support@phdadministration.net">support@phdadministration.net</a>
                                        </p>
                                </dd>
                                <dt>Facebook</dt>
                                <dd><p><a href="https://www.facebook.com/alain.farmer">https://www.facebook.com/machina.mundi</a></p></dd>
                                </dl>
                        </div>
                        <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
                </div>
          </div>
    </div>
  </div>

    </div>
  </div>
</div>
<br>

<!--    FOOTER -->
<div class="row" id="footer">
  <div class="large-6 medium-6 small-6 columns">
    <div class="" id="copyright">
      <p class="text-left">© 2016 - Machina Mundi Multimedia Inc.</p>
    </div>
  </div>
  <div class="large-6 medium-6 small-6 columns">
    <div class="" id="mise-a-jour">
      <p class="text-right">Dernière mise à jour: 2016-10-25 à 05:50.</p>
    </div>
  </div>
</div>

<!--    SCRIPTS -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
        $(document).foundation();
</script>

</body>
</html>