<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>PhD Bottin</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/foundation-icons.css" />
  <link rel="stylesheet" href="css/machina.css">
</head>

<body>

<!-- liens-publics -->
<div class="row" id="liens-publics">
  <div class="large-12 medium-12 small-12 columns">
    <ul class="menu align-right">
    <li><a href="bye">Me déconnecter</a></li>
    <li><a href="moi">Moi</a></li>
    <li><a href="bottin">Bottin</a></li>
    <li><a href="agenda">Agenda</a></li>
    <li><a href="faq">FAQ</a></li>
    <li><a href="apropos">À propos</a></li>
    <li><a href="accueil">Accueil</a></li>
    </ul>
  </div>
</div>

<!-- logo + chercher -->
<div class="row">
  <form>
  <div class="large-6 medium-6 small-6 columns">
    <a href="accueil"><img src="img/phdadmin_logo.png" alt="PhD Administration"></a>
  </div>
  <div class="large-1 medium-1 small-1 columns">&nbsp;</div>
  <div class="large-3 medium-3 small-3 columns"><br><input type="text" value=""></div>
  <div class="large-2 medium-2 small-2 columns">
    <br><a href="resultats" class="hollow button" title="Chercher parmi tous les articles ">Chercher</a>
  </div>
  </form>
</div>

<!-- title -->
<div class="row" id="title line">
  <div class="large-12 medium-12 small-12 columns">
    <div class="callout">
      <h3 id="page-main-title" class="text-center">Bottin</h3>
    </div>
  </div>
</div>

<div class="row" id="grid">

  <!-- LEFT -->
  <div class="large-3 medium-3 small-3 columns" id="grid-left">
  <!--  tabulations -->
  <ul class="tabs vertical" data-tabs id="toc">
    <li class="tabs-title is-active"><a href="#membres" aria-selected="true"><span class="larger-text">Membres</span></a></li>
    <li class="tabs-title"><a href="#groupes"><span class="larger-text">Groupes</span></a></li>
    <li class="tabs-title"><a href="#organisations"><span class="larger-text">Organisations</span></a></li>
    <li class="tabs-title"><a href="#personnes"><span class="larger-text">Personnes</span></a></li>
  </ul>
  </div>

  <!-- RIGHT -->

  <div class="large-9 medium-9 small-9 columns" id="grid-right">
  <div>

  <div class="tabs-content" data-tabs-content="toc">

    <div class="tabs-panel is-active" id="membres">
    <div class="" id="bloc-1">

      <!-- Membres -->
      <div><h4>Membres</h4></div>
      <p>Choisir des pairs parmi ces membres de la communauté.</p>
      <hr>

      <!-- row-1 -->
      <div class="row">
        <form>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Alain Farmer</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #1"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Claude Berthiaume</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #2"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Robert Ducharme</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #3"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        </form>
      </div>
      <hr>
      <!-- end row-1 -->

      <!-- row-2 -->
      <div class="row">
        <form>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Platon</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #1"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Karl Marx</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #2"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Bruno Latour</h5>
            <a href="#"><img src="img/membres/me.jpg" width="200" height="200" alt="Pair #3"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter son profil" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Inviter ce membre à être un de mes pairs" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        </form>
      </div>
      <hr>
      <!-- end row-2 -->
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="groupes">
    <div class="" id="bloc-2">

      <div><h4>Groupes</h4></div>
      <p>Choisir parmi les groupes de la communauté ou <a href="#">proposer un groupe <i class="fi-plus"></i></a></p>
      <hr>

      <!-- row-1 -->
      <div class="row">
        <form>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #1</h5>
            <a href="#"><img src="img/groupes/groupe-1.jpeg" alt="Groupe #1" width="200" height="200"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #2</h5>
            <a href="#"><img src="img/groupes/groupe-3.jpeg" alt="Groupe #2" width="200" height="200"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #3</h5>
            <a href="#"><img src="img/groupes/groupe-2.jpeg" width="200" height="200" alt="Groupe #3"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        </form>
      </div>

      <!-- row-2 -->
      <hr>
      <div class="row">
        <form>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #4</h5>
            <a href="#"><img src="img/groupes/groupe-1.jpeg" alt="Groupe #1" width="200" height="200"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #5</h5>
            <a href="#"><img src="img/groupes/groupe-1.jpeg" alt="Groupe #2" width="200" height="200"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="text-center">
            <h5>Groupe #6</h5>
            <a href="#"><img src="img/groupes/groupe-1.jpeg" width="200" height="200" alt="Groupe #3"></a>
              <!-- start nested row -->
              <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Consulter ce groupe" href="#"><i class="fi-torso"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Contacter ce groupe par courriel" href="#"><i class="fi-at-sign"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Permissions accordées" href="#"><i class="fi-lock"></i></a>
                  </div>
                  <div class="large-3 medium-3 small-3 columns">
                    <a class="icon" title="Joindre ce groupe" href="#"><i class="fi-link"></i></a>
                  </div>
                </div>
              </div>
              <!-- end nested row -->
          </div>
        </div>
        </form>
      </div>
      <hr>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
      <!-- end row-2 -->
      <br>
    </div>
    </div>

    <div class="tabs-panel" id="organisations">
    <div class="" id="bloc-3">
      <div><h4>Catégories d'organisations</h4></div>
      <div class="content">
        <ul>
          <li>A<br></li>
          <li>B<br></li>
          <li>C<br></li>
          <li>D<br></li>
          <li>etc<br></li>
        </ul>
      </div>
      <div><h4>Organisations</h4></div>
      <div class="content">
        <ul>
          <li>Liste des organisations<br></li>
          <li>Consulter une organisation<br></li>
          <li><a href="#">Proposer une organisation <i class="fi-plus"></i></a><br></li>
        </ul>
      </div>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    <div class="tabs-panel" id="personnes">
    <div class="" id="bloc-4">
      <div><h4>Catégories de personnes</h4></div>
      <div class="content">
        <ul>
          <li>Auteurs<br></li>
          <li>Philosophes<br></li>
          <li>etc<br></li>
        </ul>
      </div>
      <div><h4>Personnes</h4></div>
      <div class="content">
        <ul>
          <li>Liste des personnes<br></li>
          <li>Consulter une personne<br></li>
          <li><a href="#">Proposer une personne <i class="fi-plus"></i></a><br></li>
        </ul>
      </div>
      <p><a title="Haut de page" href="#"><i class="fi-arrow-up"></i></a></p>
    </div>
    </div>

    </div>
    </div>
  </div>

</div>

<!--  FOOTER -->
<br>
<div class="row" id="footer">
  <div class="large-6 medium-6 small-6 columns">
    <div class="" id="copyright">
      <p class="text-left">© 2016 - Machina Mundi Multimedia Inc.</p>
    </div>
  </div>
  <div class="large-6 medium-6 small-6 columns">
    <div class="" id="mise-a-jour">
      <p class="text-right">Dernière mise à jour: 2016-10-29 à 00:52.</p>
    </div>
  </div>
</div>

<!--  SCRIPTS -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

</body>
</html>