<!doctype html>
<html>
<%= partials.head(data) %>
<body>
<div class="row column">
<h1><a href="/<%- data.languageCode %>/">Démo</a></h1>
<h2>Partials</h1>
<p>Démonstration de <a href="http://hapijs.com/api">hapi</a> et <a href="https://lodash.com/docs">lodash</a> (pour ses <i>templates</i>).</p>
<p>On peut utiliser des <i>snippets</i> de HTML (des <i>partials</i>)
au lieu de copier-coller les mêmes bouts de code à plusieurs endroits.</p>
<p>Les <i>templates</i> complets vont dans <code>/templates/</code>
tandis que les <i>partials</i> vont dans <code>/templates/partials/</code>.</p>
<p>Dans le <i>template</i> on inclut un <i>partial</i> de la façon suivante:</p>
<pre><code>&lt;%= partials.head(data) %&gt;</code></pre>
<p>Pour inclure <code>/templates/partials/head.html</code> et lui passer
le contexte <code>data</code>.</p>
<h2>Suite</h2>
<p>La suite, à propos des <a href="/abc">abc...</a>.</p>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
