<!doctype html>
<html lang="en" dir="ltr">

<head>
        <title>PhD résultats</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/foundation-icons.css" />
        <link rel="stylesheet" href="css/machina.css">
</head>

<body>

<!-- liens-publics -->
<div class="row" id="liens-publics">
        <div class="large-12 medium-12 small-12 columns">
                <ul class="menu align-right">
                <li><a href="bye">Me déconnecter</a></li>
                <li><a href="moi">Moi</a></li>
                <li><a href="bottin">Bottin</a></li>
                <li><a href="agenda">Agenda</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="apropos">À propos</a></li>
                <li><a href="accueil">Accueil</a></li>
                </ul>
        </div>
</div>

<!-- logo + chercher + filtrer -->
<div class="row align-middle">
        <div class="large-6 medium-6 small-6 columns">
                <a href="accueil"><img src="img/phdadmin_logo.png" alt="PhD Administration"></a>
        </div>
        <div class="large-6 medium-6 small-6 columns">
                <br><form>
        <div class="row">
                  <div class="large-5 medium-5 small-5 columns">
                     <input type="text" value="Albert Einstein">
                  </div>
                  <div class="large-7 medium-7 small-7 columns">
                  <a href="resultats" class="hollow button" title="Chercher parmi tous les articles ">Chercher</a>&nbsp;
                  <!-- debut filtrer -->
                                <button class="hollow button" type="button" data-toggle="filtrer-dropdown" title="Filtrer articles de cette page ">Filtrer</button>
                                <div class="dropdown-pane" id="filtrer-dropdown" data-dropdown data-auto-focus="true">
                                  <p><strong>Filtrer articles courants</strong></p>
                                         <div class="row">
                                                <div class="large-12 medium-12 small-12 columns">
                                                  <label>par terme<input type="text" placeholder="Exemple"></label>
                                                  <label>par date<input type="text" placeholder="2016-10-27"></label>
                                                  <input class="button" type="submit" name="enregistrer" value="Filtrer articles">&nbsp;
                                                  <input class="button" type="submit" name="Tout afficher" value="Afficher tous">
                                                </div>
                                         </div>
                                </div>
                        <!-- fin filtrer -->
                        <!-- debut trier -->
                                &nbsp;<button class="hollow button" type="button" data-toggle="trier-dropdown" title="Trier articles de cette page ">Trier</button>
                                <div class="dropdown-pane" id="trier-dropdown" data-dropdown data-auto-focus="true">
                                  <p><strong>Trier articles courants</strong></p>
                                         <div class="row">
                                                <div class="large-12 medium-12 small-12 columns">
                                                <p><input type="radio" name="trierPar" value="ParPertinence" id="ParPertinence" checked><label for="ParPertinence">Par pertinence</label></p>
                                                <p><input type="radio" name="trierPar" value="ParTitre" id="parTitre"><label for="parTitre">Par titre</label></p>
                                                <p><input type="radio" name="trierPar" value="ParDate" id="parDate"><label for="parDate">Par date</label></p>
                                                </div>
                                         </div>
                                </div>
                        <!-- fin trier -->
        </div>
        </div>
      </form>
        </div>
</div>

<!-- breadcrumb -->
<div class="row">
        <div class="large-12 medium-12 small-12 columns">
        <nav>
                <ul class="breadcrumbs">
                <li><a href="accueil">Accueil</a></li>
                <li>Résultats</li>
                <li>
                        <a class="prev-page" href="#"><strong>&lt;</strong></a>
                        <span> Page 1 </span>
                        <a class="next-page" href="#"><strong>&gt;</strong></a>
                </li>
                </ul>
        </nav>
        </div>
</div>

<!-- title -->
<div class="row" id="title-line">
        <!-- LEFT -->
  <div class="large-3 medium-3 small-3 columns" id="title-left">
      <div class="text-center" id="bloc-langues">
                        <a href="accueil"><span title="Français" class="alert badge">Fr</span>&nbsp;</a>
                        <a href="langue/en/accueil"><span title="English" class="badge">En</span>&nbsp;</a>
                        <a href="langue/es/accueil"><span title="Español" class="badge">Es</span>&nbsp;</a>
                        <a href="langue/it/accueil"><span title="Italiano" class="badge">It</span>&nbsp;</a>
                        <a href="langue/ru/accueil"><span title="Русский" class="badge">Ru</span>&nbsp;</a>
                        <a href="langue/ar/accueil"><span title="العربية" class="badge">Ar</span>&nbsp;</a>
      </div>
  </div>
  <!-- CENTER -->
  <div class="large-6 medium-6 small-6 columns" id="title-center">
                <h3 id="page-main-title" class="text-center">Résultats de recherche</h3>
  </div>
  <!-- RIGHT -->
  <div class="large-3 medium-3 small-3 columns" id="title-right">
    <div class="" id="bloc-fonctions">
                 <ul class="menu align-right">
                        <li class="icon"><a title="Imprimer les résultats" href="#"><i class="fi-print"></a></i></li>
                        <li class="icon"><a title="Exporter résultats vers PDF&nbsp;" href="#"><i class="fi-page-export-pdf"></i></a></li>
                        <li class="icon"><a title="Historique de mes recherches&nbsp;" href="#"><i class="fi-clock"></i></a></li>
        <li class="icon"><a title="S'abonner aux notifications" href="#"><i class="fi-rss"></a></i></li>
        <li class="icon"><a title="Ajouter à mes favoris" href="#"><i class="fi-star"></a></i></li>
                </ul>
    </div>
  </div>
</div>

<!-- INTERFACE -->

<br>
<div class="row" id="search-area">

  <div class="large-7 medium-7 small-7 columns">
    <div class="">
                <p><img src="img/placeholders/search-left.png" alt="Résultats de recherche"></p>
    </div>
  </div>

  <div class="large-5 medium-5 small-5 columns">

                <div class="">
                        <p><a target="_blank" href="https://en.wikipedia.org/wiki/Albert_Einstein">
                                <img src="img/placeholders/search-right.png" alt="Information supplémentaire"></a>
                        </p>
                </div>

      <!-- début -->
      <br>
      <div class="" id="recherche-actuelle">
      <h5 class="text-left">Recherche en cours</h5>
                        <dl>
                        <dt>Données <a class="icon" title="Filtrer les données" href="#"><i class="fi-pencil"></i></a></dt>
                        <dd>
                                <ul>
                                        <li><span>Données triées par = Pertinence</span></li>
                                        <li><span>Données en ordre = Descendant</span></li>
                                </ul>
                        </dd>
                        <dt>Termes <a class="icon" title="Ajouter un terme" href="#"><i class="fi-plus"></i></a>
                        </dt>
                        <dd>
                                <ul>
                                        <li><span>Physicist</span></li>
                                        <li><span>Albert Einstein</span></li>
                                </ul>
                        </dd>
                        <dt>Filtres&nbsp;
                                <a class="icon" title="Modifier filtres actuels" href="#"><i class="fi-pencil"></i></a>&nbsp;
                                <a class="icon" title="Ajouter un filtre" href="#"><i class="fi-plus"></i></a>
                        </dt>
                        <dd>
                                <ul>
                                <li><span><em>Langue</em> = Français ou Anglais</span></li>
                                <li><span><em>Date d'édition</em> &gt; 2014-01-01</span></li>
                                <li><span><em>Date d'édition</em> &lt; 2016-01-31</span></li>
                                <li><span><em>Format</em> = HTML</span></li>
                                </ul>
                        </dd>
                        </dl>
                <br>
                </div>
      <!-- fin -->

 </div>
</div>
<br>

<!--    FOOTER -->
<div class="row small-collapse medium-collapse large-collapse" id="footer">
        <!-- collapses whitespace between cols of grid -->
  <div class="large-4 medium-4 small-4 columns">
    <div class="" id="copyright">
      <p class="text-left"><em>© 2016 - Machina Mundi Multimedia Inc.</em></p>
    </div>
  </div>
  <div class="large-4 medium-4 small-4 columns">
    <div class="" id="pagination">
                        <!-- pagination -->
                        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                        <li class="pagination-previous"><strong><a href="#" aria-label="Previous page"></a></strong></li>
                        <li class="current">1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li><a href="#" aria-label="Page 5">5</a></li>
                        <li class="ellipsis"></li>
                        <li><a href="#" aria-label="Page 1000">1 000</a></li>
                        <li class="pagination-next"><strong><a href="#" aria-label="Next page"></a></strong></li>
                        </ul>
    </div>
  </div>
  <div class="large-4 medium-4 small-4 columns">
    <div class="" id="mise-a-jour">
      <p class="text-right"><em>Dernière mise à jour: 2016-10-28 à 04:14.</em></p>
    </div>
  </div>
</div>

<!--    SCRIPTS -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script>
        $(document).foundation();
</script>

</body>
</html>